<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include new/head.html %}
  <body>
    {% include new/navbar.html %}
    <div class="row">
      <div class="col-md-3 col-sm-5 d-none d-md-block p-0">
        <div class="row" style="height: 100%">
          <div class="col-md-6 col-sm-6 col-xs-6 p-0">
            {% include new/navbar_side.html sidebarClassName="rb-sidebar__1" %}
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 p-0">
            {% include new/sidebar.html sidebarClassName="rb-sidebar__2" %}
          </div>
        </div>
      </div>
        <div class="col-md-9 col-xl-9 col-sm-12 col-xs-12 p-5">
          <h1>Visuals</h1>
          {{ content }}
          {% include new//visuals/colors.html participants=site.data.profiles %}
          {% include new//visuals/grid.html participants=site.data.profiles %}
          {% include new//visuals/typography.html participants=site.data.profiles %}
          {% include new//visuals/assets.html participants=site.data.profiles %}
          {% include new/scrollspy.html %}
          {% include new/scripts.html %}
      </div>
    </div>
  </body>
</html>
