main {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 2.5rem;
  }

  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
  }

  img {
    max-width: 100%;
    padding-bottom: 0.5rem;
  }

  img[src$="#left"] {
    float: left;
    margin-right: 2rem;
  }

  img[src$="#center"] {
    margin: 2rem auto;
    display: block;
  }

  img[src$="#right"] {
    float: right;
    margin-left: 2rem;
  }

  blockquote {
    font-style: italic;
    margin-left: 2.5rem;
  }

  .projects .card-title a {
    color: inherit;
  }

  @media (min-width: 750px) {
    .blog-post-content {
      max-width: 750px;
      text-align: justify;
    }
  }
}
